<!-- Template for Each Task -->
<li class = 'todo-item' [class.todo-item-important]='task.isImportant'  [class.todo-item-checked] = 'task.isChecked'>
    <div class ='todo-item-container'>
      <input class = 'complete-task' type='checkbox' (click) = 'check()' *ngIf = 'checkboxVis'>
      <label class = 'todo-item__label' *ngIf = 'labelVis'>{{task.value}}</label>
      <input class = 'edit-input' type = 'text' *ngIf = 'editInputVis'  (keydown.enter)='save()' [value]='task.value' maxlength='65'>
    </div>
    <div class = todo-item-buttons-container>
        <!-- Edit Button -->
        <input type ="button" 
        class = 'edit__button' 
        [value]='editButtonIcon'
        (click) = 'edit()' 
        *ngIf = 'editButtonVis'>
        <!-- Save Button -->
        <input type="button" 
        class = 'save__button' 
        [value]='saveButtonIcon' 
        (click) = 'save()'
        *ngIf = 'saveButtonVis'>
        <!-- Delete Button -->
        <input type="button" 
        class = 'delete__button' 
        [value]='deleteButtonIcon' 
        (click) = 'delete($event)'>
    </div>
  </li>