<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ title }}</title>
</head>
<body>
  <div class = 'main-container'>
    <h1>Todo List</h1>
    <div class='sub-container'>
      <ul class = 'todo-list'>
        <app-task *ngFor ='let task of tasks' [task]='task'  (deleteTasks)='deleteTask(task)'></app-task>
      </ul>
      <div class='add-input-container'>
        <input type = 'text' class = 'add-todo-item__input' (keydown.enter) = 'addTodoItem()' placeholder = 'Введите Задание!' maxlength='65'> 
        <input type = 'button' class = 'add-todo-item__button' value = 'Добавить' (click) = 'addTodoItem()'>
        <input type = 'button' class = 'clear-all' value = 'Очистить всё' (click) = 'deleteAll()'>
      </div>
    </div> 
  </div>
</body>
</html>
